<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clothapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".resources.ApplicationSupport"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- meta-data per parse & facebook -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="JdgT5RtwJaaoDRNe9bx5LF3TyVj20RGXMKMv6jQ8" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="NcZTNmBoULYmGhC9P1SRYHfhhQNJxcFOWSOYFImk" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--  -->

        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".HomepageActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ImageFragment"
            android:label="@string/app_name" />
        <activity
            android:name=".profilepicture.ProfileCameraActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".profilepicture.ProfileGalleryActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".upload.UploadCameraActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".HomepageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomepageActivity" />
        </activity>
        <activity
            android:name=".upload.UploadGalleryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".HomepageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomepageActivity" />
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FacebookUsernameActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/app_name" />
        <activity android:name=".BaseActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" />
    </application>

</manifest>
