<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clothapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".resources.ApplicationSupport"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- meta-data per parse & facebook -->
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="JdgT5RtwJaaoDRNe9bx5LF3TyVj20RGXMKMv6jQ8" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="NcZTNmBoULYmGhC9P1SRYHfhhQNJxcFOWSOYFImk" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--  -->

        <activity
            android:name=".LauncherActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home_gallery.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".search.SearchResultsActivity" />
        </activity>

        <activity
            android:name=".search.SearchResultsActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyCompatTheme.NoActionBar">

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider android:name=".resources.CustomContentProvider"
            android:authorities=".resources.Categorie">
        </provider>

        <activity
            android:name=".login_signup.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".ImageFragment"
            android:label="@string/app_name"/>
        <activity
            android:name=".upload.UploadProfilePictureActivity"
            android:label="@string/app_name"
            android:largeHeap="true"/>
        <activity
            android:name=".upload.UploadActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".home_gallery.HomeActivity"
            android:largeHeap="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home_gallery.HomeActivity" />
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login_signup.SignupActivity"
            android:label="@string/app_name"
            android:parentActivityName=".login_signup.MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".login_signup.MainActivity" />

        <activity
            android:name=".login_signup.ShopSignupActivity"
            android:label="@string/app_name"
            android:parentActivityName=".login_signup.MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".login_signup.MainActivity" />

        <activity
            android:name=".login_signup.FacebookUsernameActivity"
            android:label="@string/app_name"
            android:parentActivityName=".login_signup.MainActivity" />
        <activity
            android:name=".login_signup.ResetPasswordActivity"
            android:label="@string/app_name"
            android:parentActivityName=".login_signup.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login_signup.MainActivity" />
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/app_name" />
        <activity android:name=".BaseActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".profile.UserProfileActivity"
            android:label="@string/title_activity_new_profile"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".profile_shop.ShopProfileActivity"
            android:label="@string/title_activity_new_profile"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".search.SearchResultsActivity" />
        </activity>
    </application>

</manifest>

